<p><label for="username">Username:</label> {{input id="username"}}</p>
<p><label for="password">Password:</label> {{input type="password" id="password" action="submit" on="enter"}}</p>
<p><button {{action "submit"}}><span>Submit</span></button></p>
{{#if isLoading}}
<p><img src="loading.gif" style="width:50px; height:50px" /></p>
{{/if}}
<p id="errorConnecting" style="display:none">An error occurred and the database couldn't be reached.</p>
<p id="errorLogging" style="display:none">The username or the password is incorrect</p>

{{yield}}
