#header_lgs {
	width:100%;
	text-align:center;
	background-color:#54d8e0;
	height:125px;
	position:absolute;
	top:0;
	left:0;
}

#login_rect {
	width:60%;
	font-family:'Korolev Light';
	color:#212121;
}

#panel_loading_screen {
	font-family:'Korolev Medium';
	border-collapse:collapse;
	padding: 20px;
}

#login_user_info {
	margin-bottom: 15px;
}

#user_pic_wrap {
	padding:7px;
}

#tab_container {
	display: block;
	text-align:left;
}

#content_container {
	margin-top: -1px;
	border:1px solid #E0E0E0;
	padding-top: 20px;
	padding-bottom: 20px;
}

#footer_wrap {
	width:100%;
	background-color:#54d8e0;
	font-family:'Korolev Medium', arial;
	font-size: 12px;
	position:fixed;
	bottom:0;
	left: 0;
	padding: 5px;
}

#matching_team_list {
	display:none;
}

#team_view_wrap, #game_view_wrap {
	width: 85%;
	font-family: 'Korolev Medium';
	border-collapse: collapse;
}

#team_view_wrap td, #game_view_wrap td {
	text-align:left;
	padding: 5px;
}

#game_view_wrap td {
	width:10%;
}

#game_view_wrap td:first-child, #game_view_wrap td:last-child {
	width:35%;
}

#team_view_wrap tr:first-child td:first-child {
	width: 170px;
}

#game_event_table {
	width: 100%;
	border-collapse: collapse;
	font-family: 'Slabo 27px';
}

#game_event_table td {
	width:30%;
}

#game_event_table tr:nth-child(odd) {
	background-color: #e0e0e0;
}

#game_event_table td:first-child, #game_event_table td:last-child {
	width:5%;
}

#game_event_table td:nth-child(2), #game_event_table td:nth-child(5){
	width:5%;
}

#last_games_table {
	width:100%;
}

#last_games_table td:nth-child(6) {
	text-align: right;
}

#next_last_wrap {
	width:85%;
	box-sizing: content-box;
	margin-top: 15px;
	margin-bottom: 15px;
}

#next_last_wrap div {
	box-sizing: padding-box;
	width:49%;
	display: inline-block;
	font-size: 20px;
	text-align: center;
	background-color: #CFD8DC;
	font-family: 'Korolev Medium';
	padding:5px;
}

#next_last_wrap div:hover {
	cursor:pointer;
	background-color:#54D8E0;
}

#ranking_table {
	width:85%;
	position: relative;
	top: -40px;
	font-family: 'Slabo 27px';
	border-collapse: collapse;
}

#ranking_table tr:nth-child(odd) {
	background-color: #e0e0e0;
}

#ranking_table td {
	text-align: center;
	padding: 4px;
}

#ranking_table a {
	color:#000;
}
#ranking_table a:hover {
	text-decoration: underline;
}

#ranking_table th {
	text-align: center;
	background-color: #00ACC1;
	color: #fff;
	padding: 5px;
	font-family: 'Korolev Medium';
}

#ranking_table th:nth-child(2) {
	text-align: left;
}

#ranking_table td:nth-child(2) {
	font-family: 'Korolev Medium';
	text-align:left;
}

table td:last-child {
	text-align:right;
}

table#ch_pass_table tr:last-child td, table#register_table tr:last-child td {
	text-align:center;
}

table input[type=text], table input[type=password] {
	width:90%;
}

button#main_log_out {
	float:right;
}

table#user_info_table {
	width:100%;
}

table#user_info_table td:first-child {
	width:74px;
}

table#user_info_table td {
	vertical-align: bottom;
}

select {
	font-family: 'Slabo 27px', arial;
	font-size: 15px;
	width: 100%;
}

a {
	text-decoration:none;
	color:#551A93;
}

select option {
	font-size: 19px;
	padding: 10px;
	background-repeat: no-repeat;
	background-position: 99% 45%;
	background-size: 63px 35px;
}

h1.header_title {
	line-height: 0%;
	font-size: 75px;
	color: #000;
}

table.admin_panel_table {
	width: 100%;
	border-spacing: 10px;
}

table.admin_panel_table td{
	vertical-align: middle;
}

table.team_list_table {
	width: 100%;
	border-spacing: 10px;
}

table.team_list_table td {
	text-align:center;
	width: 50%;
}

table.team_list_table button {
	font-size: 13px;
}

button.important_func {
	background-color: #F44336;
	color: white;
}

option.team {
	background-size: 40px;
}

select.player {
	width: 100%;
}

select.player option {
	background-size: 40px;
}

.korolev_bold {
	font-family:'Korolev Bold';
}

.korolev_medium {
	font-family:'Korolev Medium';
}

.country_el {
	border: 1px solid #CFD8DC;
	border-radius:2px;
	width:80%;
}

.section_title {
	width:60%;
	padding:10px;
	background-color:#B3E5FC;
	font-size:20px;
	font-family:'Korolev Medium', arial;
	text-align: left;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.panel_block_header {
	width:70%;
	/*border: 1px solid #E0E0E0;*/
	border:0;
	border-bottom: 1px solid #E0E0E0;
	font-family:'Korolev Light';
	font-size: 17px;
	padding: 6px;
	cursor:pointer;
	/*border-top-left-radius:5px;
	border-top-right-radius:5px;*/
	text-align:left;
	color:#00ACC1;
}

.letter_header {
	width:90%;
}

.expand_arrow {
	float:right;
	transition: 0.5s transform;
}

.expand_arrow2 {
	float:right;
	transition: 0.5s transform;
}

.arrow_turn {
	transform: rotate(-180deg);
}

.left_arrow {
	transform: rotate(90deg);
	float:left;
	position: relative;
	top: -3px;
}

.right_arrow {
	transform: rotate(270deg);
	float: right;
	position: relative;
	top: -3px;
}

.panel_block_content {
	display:none;
	width:70%;
	font-family:'Slabo 27px', arial;
	padding:6px;
	color: #212121;
}

.exp_subsection_c {
	display:none;
}

.team_list_content {
	width:80%;
}

.letter_content {
	width: 90%;
}

.error_dsp_wrap {
	color:white;
}

.error_dsp_wrap:after {
	content: ".";
}

.error_dsp {
	color:#F44336;
	display:none;
}

.success_dsp {
	color:#4CAF50;
	display:none;
}

.info_block {
	width:100%;
	background-color:#CFD8DC;
	font-family:'Korolev Light';
	padding: 6px;
	text-align:left;
	box-sizing: border-box;
	line-height: 170%;
}

.tab_element {
	display: inline-block;
	position:relative;
	font-family: 'Korolev Light';
	font-size: 10px;
	color: #00ACC1;
	border: 1px solid #E0E0E0;
	border-bottom: 0;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	padding: 5px;
	margin:0;
	cursor: pointer;
	transition: font-size 0.5s, bottom 0.5s;
	bottom: -2px;
}

.tab_element:hover {
	font-size: 15px;
	bottom: 0;
}

.selected_tab {
	font-size: 15px;
	bottom:0;
	border-bottom: 1px solid white;
}

.exp_subsection_h {
	margin:7px;
	border-bottom: 1px solid #E0E0E0;
	text-align:left;
	cursor: pointer;
}

.team_list_header {
	width:80%;
}

.crest_check {
	width:34px;
	border:1px solid #e0e0e0;
}

.team_list_header span {
	font-family: 'Korolev Light';
	color: #212121;
	font-size: 15px;
	line-height:0%;
}

.team_list_header img {
	width:20px;
	padding-left:5px;
	padding-right:5px;
}

.t_in_s_element {
	margin:25px;
}

.t_in_s_element button {
	position:relative;
	top: -15px;
}

.round_view_header {
	box-sizing: padding-box;
	color: white;
	font-family: 'Korolev Light';
	width:85%;
	font-size: 15px;
	line-height:100%;
	padding: 5px;
	height: 40px;
	text-align:left;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	white-space: nowrap;
	overflow: hidden;
	background: -webkit-linear-gradient(left, #00ACC1, rgba(255,255,255,0));
    background: -o-linear-gradient(right, #00ACC1, rgba(255,255,255,0));
    background: -moz-linear-gradient(right, #00ACC1, rgba(255,255,255,0));
    background: linear-gradient(to right, #00ACC1, rgba(255,255,255,0));
}

.season_logo_view {
	height: 40px;
	float:right;
	line-height: 100%;
	position: relative;
	top: -40px;
	left: -10%;
	width: 85%;
	background-repeat: no-repeat;
	background-position: right;
	background-size: 200px;
	z-index: -1;
}

.round_game_list {
	box-sizing: padding-box;
	width: 85%;
	padding: 5px;
	position: relative;
	top: -40px;
	font-family: 'Slabo 27px';
	font-size: 16px;
	border-collapse: collapse;
}

.view_main_section {
	background-color: #00ACC1;
	font-size: 18px;
	color: #fff;
}

.view_sec_section {
	background-color: #B3E5FC;
	border:2px solid white;
}

.legend_view {
	font-size: 15px;
	font-family: 'Korolev Light';
	border:3px solid white;
}

.team_player_el {
	border:2px solid white;
	font-family: 'Slabo 27px';
}

@keyframes playing_match {
	0% {background-color: white}
	50% {background-color: #C5E1A5}
}

.round_game_list tr.playing_game {
	animation-name: playing_match;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.round_game_list td:nth-child(4){
	text-align:center;
}

.round_game_list td:first-child, .round_game_list td:last-child {
	width: 50px;
}

.round_game_list td:nth-child(2), .round_game_list td:nth-child(6) {
	width:40%;
}

.round_game_list td:nth-child(3), .round_game_list td:nth-child(5) {
	font-size: 22px;
}

.round_game_list td:nth-child(5), .round_game_list td:nth-child(6) {
	text-align: right;
}

.game_crest_view {
	width:40px;
}

button {
	outline:none;
	padding: 7px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Korolev Light';
	background-color: #B3E5FC;
	font-size: 15px;
	cursor: pointer;
	border-radius: 3px;
	border:0;
	box-shadow: 0 2px 3px 1px #757575;
}

button:active {
	margin-top: 2px;
	margin-bottom: -2px;
	box-shadow: 0 0 3px 1px #757575;
}

hr {
	width: 35%;
	border-style: none;
	border: 1px solid #00ACC1;
	margin-top: 30px;
	margin-bottom: 30px;
}

input[type=text], input[type=password] {
	font-size:16px;
	font-family:'Slabo 27px', arial;
	color: #00ACC1;
	border:1px solid #E0E0E0;
	padding: 6px;
	border-radius:5px;
}

input[type=text]:disabled, input[type=password]:disabled {
	color:#616161;
}

body {
	overflow-y: scroll;
}

::-webkit-scrollbar {
	width:10px;
}

::-webkit-scrollbar-thumb {
	background-color:#B3E5FC;
	border-radius:5px;
}