<div id="header_lgs">
	<h1 class="header_title korolev_bold">liugues</h1>
	<p><span class="korolev_medium">still a work in progress</span>¯\_(ツ)_/¯</p>
</div>
<div style="margin-top:125px; padding:10px">
{{outlet}}
</div>
