<div id="header_lgs">
	<a href="/"><h1 class="header_title korolev_bold">liugues</h1></a>
	<p><span class="korolev_medium">still a work in progress</span>¯\_(ツ)_/¯</p>
</div>
<div style="margin-top:125px; padding:10px">
{{outlet}}
</div>
<div id="footer_wrap"><p style="margin:0">Design and programming by Unai Perez Mendizabal (unape833). All rights reserved.</p></div>
