<head>
	<link rel="stylesheet" type="text/css" media="screen" href="korolev.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="style.css" />
</head>
<body>
	<div id="header_lgs">
		<h1 class="header_title korolev_bold">Liugues</h1>
		<p><span class="korolev_medium">still a work in progress</span>¯\_(ツ)_/¯</p>
	</div>
</body>

{{outlet}}
