<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" media="screen" href="korolev.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="style.css" />
	</head>
	<body>
		<div id="header_lgs">
			<h1 class="header_title">Liugues</h1>
		</div>
	</body>
</html>

{{outlet}}
